* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.juego-miJuego {
  background-image: url("../../../../assets/fondo-login.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

.titulo-miJuego {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  width: max-content;
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 15px;
  margin-top: 0.5rem;
  border-radius: 20px;
  box-shadow: 0 0 8px gray;
}

.contenedor-uid {
  color: white;
  position: absolute;
  left: 15%;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  margin: -3px;
}

.col {
  padding: 0px;
}

.game button {
  width: 18px;
  height: 18px;
  background-color: black;
  border: 1px solid white;
}

.game button.alive {
  /* background-image: url("../../../../assets/fondo-login.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
  background-color: rgb(18, 212, 0);
  border: 3px solid rgb(255, 255, 255);
}

.contenedor-juego-terminado {
  text-align: center;
  margin: 1rem auto;
  position: absolute;
  left: 40%;
  top: 50%;
}

.texto-juego-terminado {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 0 8px gray;
}

.derrota {
  color: red;
}

.victoria {
  color: greenyellow;
}

/* ****************************************************************** */
/* ****************************************************************** */
/* ****************************************************************** */
/* ****************************************************************** */

.btn-reiniciar {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: #f00;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: block;
  margin: 1rem auto;
  /*
  position: absolute;
  left: 42%;
  top: 60%; */
}

.btn-reiniciar:hover {
  background-color: #fdfdfd;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
  color: #000;
  transform: translateY(-7px);
}

.btn-reiniciar {
  transform: translateY(-1px);
}
