<p>update-component works!</p>

<div class="container">
  <form class="form-group row">
    <div class="form-group col-md-3">
      <label for="name">Name: </label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Name"
        class="form-control"
        [(ngModel)]="nameField"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="lastName">Last Name: </label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        placeholder="Last Name"
        class="form-control"
        [(ngModel)]="lastNameField"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="position">Position: </label>
      <input
        type="text"
        name="position"
        id="position"
        placeholder="Position"
        class="form-control"
        [(ngModel)]="positionField"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="salary">Salary: </label>
      <input
        type="text"
        name="salary"
        id="salary"
        placeholder="Salary"
        class="form-control"
        [(ngModel)]="salaryField"
      />
    </div>

    <div class="col mt-3">
      <button type="submit" class="btn btn-primary" (click)="handleUpdateDeleteEmployee()">
        Action
      </button>
      <!-- <button type="submit" class="btn btn-danger m-3" (click)="deleteEmployee()">
        Delete Employee
      </button> -->
    </div>
  </form>
</div>

<br /><br />

<div style="text-align: center">
  <button class="btn btn-primary" (click)="goHome()">Go Home</button>
</div>
