<body>
  <div class="container">
    <div class="card text-center">
      <div class="card-header form-estilos fondo-des">
        <b>INICIO DE SESIÓN</b>
      </div>
      <div class="card-body p-4 form-estilos fondo-des">
        <label style="float: left" class="mt-2">Email</label>
        <input
          class="form-control"
          type="email"
          placeholder="Email"
          [(ngModel)]="usuario.email"
        />

        <label style="float: left" class="mt-2">Password</label>
        <input
          class="form-control"
          type="password"
          placeholder="Password"
          [(ngModel)]="usuario.password"
        />

        <button
          style="width: 100%"
          class="btn btn-primary mt-2"
          (click)="ingresar()"
        >
          Ingresar
        </button>
        <button
          style="width: 100%"
          class="btn btn-danger mt-2"
          (click)="ingresarConGoogle()"
        >
          Ingresar con google
        </button>
        <label>¿Aun no tienes cuenta? <a href="#"> Registrarse</a></label>
      </div>

      <!-- <div>
    <button
    style="width: 100%"
    class="btn btn-info mt-2"
    (click)="obtenerUsuarioLogueado()"
    >
        Usuario Logueado
      </button>
      <button style="width: 100%" class="btn btn-info mt-2" (click)="logout()">
          Logout
      </button>
    </div> -->
    </div>
  </div>
</body>
