<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/icono-nav3.png"
        class="imagenNav"
        alt="icono principal"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="userLogged | async">
          <a class="nav-link active" aria-current="page" href="/home">
            <button data-text="Awesome" class="button">
              <span class="actual-text">&nbsp;Home&nbsp;</span>
              <span class="hover-text" aria-hidden="true"
                >&nbsp;Home&nbsp;</span
              >
            </button>
          </a>
        </li>
        <li class="nav-item" *ngIf="userLogged | async">
          <a class="nav-link active" aria-current="page" href="/quiensoy">
            <button data-text="Awesome" class="button">
              <span class="actual-text">&nbsp;Quien&nbsp;Soy&nbsp;</span>
              <span class="hover-text" aria-hidden="true"
                >&nbsp;Quien&nbsp;Soy&nbsp;</span
              >
            </button>
          </a>
        </li>
        <li class="nav-item" *ngIf="userLogged | async">
          <a class="nav-link" href="#">
            <button data-text="Awesome" class="button">
              <span class="actual-text">&nbsp;Juegos&nbsp;</span>
              <span class="hover-text" aria-hidden="true"
                >&nbsp;Juegos&nbsp;</span
              >
            </button>
          </a>
        </li>
        <li class="nav-item" *ngIf="userLogged | async">
          <a class="nav-link" href="#">
            <button data-text="Awesome" class="button">
              <span class="actual-text">&nbsp;Chat&nbsp;</span>
              <span class="hover-text" aria-hidden="true"
                >&nbsp;Chat&nbsp;</span
              >
            </button>
          </a>
        </li>
        <li class="nav-item" *ngIf="userLogged | async">
          <a class="nav-link" href="#">
            <button data-text="Awesome" class="button">
              <span class="actual-text">&nbsp;Encuesta&nbsp;</span>
              <span class="hover-text" aria-hidden="true"
                >&nbsp;Encuesta&nbsp;</span
              >
            </button>
          </a>
        </li>
      </ul>
      <a class="navbar-brand" href="#" *ngIf="userLogged | async as user">
        {{ user.email }}
      </a>
      <button class="btn-registro" *ngIf="!isLogged" (click)="irARegistro()">
        REGISTRO
        <div class="arrow-wrapper">
          <div class="arrow"></div>
        </div>
      </button>
      <button class="btn-login" *ngIf="!isLogged" (click)="irALogin()">
        LOGIN
        <div class="arrow-wrapper">
          <div class="arrow"></div>
        </div>
      </button>
      <button class="btn-logout" *ngIf="isLoggedLogout" (click)="logout()">
        LOGOUT
        <div class="arrow-wrapper">
          <div class="arrow"></div>
        </div>
      </button>
    </div>
  </div>
</nav>
