<div class="body">
  <div class="container" *ngIf="userLogged | async">
    <div class="contenedor-bienvenida">
      <h1>Hola mi nombre es ........</h1>
      <img
        class="view-from-right"
        src="../../../assets/link-animado-2.gif"
        alt="imagen home"
      />
      <h3>Lorem ipsum dolor sit</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab tempora
        iusto autem atque totam, debitis ex molestiae libero. Quasi minus illo
        veniam dignissimos iste modi. Iusto atque minus in nam?
      </p>
    </div>
  </div>
</div>
