<br><br>
<div class="container">
    <form class="form-group row">
        <div class="form-group col-md-3">
            <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <br>
        <div class="form-group col-md-3">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <br>
        <div class="form-group col-md-3">
            <button class="form-control" class="btn btn-primary" type="button">Submit</button>
        </div>
    </form>
</div>