<p>Name: {{ name }}</p>
<p>Last name: {{ lastName }}</p>
<p>Age: {{ age < 18 ? "is a minor" : "he's older" }}</p>
<p>Company: {{ company }}</p>

<!-- Introduce the company
<input
  type="text"
  #company
  (keyup)="getCompanyKeyUp(company.value)"
  [disabled]="enabledInput"
/> -->
<!-- Introduce the company: <input type="text"(input)="changeCompany($event)"/> -->
Introduce the company: <input type="text" [(ngModel)]="company" /> <br /><br /> <!-- Banana in Box -->
{{ registerText }}
<br />
Registered:
<input
  type="radio"
  name="registerUser"
  value="yes"
  id="login"
  [checked]="registeredUser"
  (click)="setRegisteredUser($event)"
/>
No Registered:
<input
  type="radio"
  name="registerUser"
  value="no"
  (click)="setRegisteredUser($event)"
/>
{{ getRegisteresUser() }}
<br />
<br />
<!-- <input type="button" value="Click!" (click)="getCompany(company.value)" /> -->
